{% extends "linker/base.html" %} 
{% load staticfiles %} 
{% load linker_extras %}
{% block css %}
	<link href="{% static 'linker/css/jquery-ui.css' %}" rel="stylesheet">
	<style type="text/css">
       	#favicon {
      		position: relative; 
      		top: -1px;  
      		witdth: 40px; height: 14px;
      	} 
      	.table th, .table td { 
     		border-top: none; 
 		}
      	.container hr {
/*       		/* border-color: #7D7D7D; */ */
      		border-color: #CFCFCF;
      		margin: 1px, 0;
      	}
		#search-button {
			position: relative;
			right: -4px;
		}
  	</style>
{% endblock %} 
{% block content %}

<div class="tabbable">
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#sec1">个人主页</a></li>
    <li><a data-toggle="tab" href="#sec2">搜索网页</a></li>
</ul>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="sec1">
		{% if user.is_authenticated %}
			<div>
				{% for container in container_list %}
					<h3>{{ container.name }}</h3>
					<div>
						<table class="table">
							{% for link in container.linker_set.all|dictsort:"id"|filterDeletedLinks %}
									{% if forloop.counter0|divisibleby:"4" %}
										<tr>
									{% endif %}
										<td class="onelink span3">
											<img id="favicon" src="{{link.link | getFavicon }}" />
											<a href="{{link.link}}" target="_blank">{{ link.name }}</a>
										</td>
									{% if forloop.counter|divisibleby:"4" %}
										</tr>
									{% elif forloop.last%}
										{% with count=forloop.counter %}
											{% for i in count|fillTableTd:"4" %}
												<td class="span3"></td>
											{% endfor %}
										{% endwith %}
										</tr>
									{% endif %}
							{% endfor %}
						</table>
						<hr>
					</div>
				{% endfor %}
			</div>
			{% else %}
			<h1>欢迎</h1>
			<p>没有账号<a href="/auths/register"><strong>请注册</strong></a>，登陆后可以使用个性化书签设置</p>
			
			<div>
				<h3>
					<strong>常用网站</strong>
				</h3>
				<div>
					<p>
						<a href="http://www.baidu.com" target="_blank">百度</a>
					</p>
				</div>
			</div>
			{% endif %}
    </div>
    <div class="tab-pane" id="sec2">
	    <div class='row'>
	        <form>
	        <div class='span3 input-append' style="margin-top:6%; margin-left:30%">
	            <input class="span2" style="height:20px;width:400px;" id="search-input" type="text" >
	            <input class="btn" id="search-button" type="button" value="找找新的网站">
	        </div>
	        </form>
	        <div id='query' style="margin-top:13%; margin-left:3%">
	        	<p>here</p>
	        </div>
	    </div>
		<div class="modal hide fade" tabindex="-1" role="dialog" id="myModal">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h3>添加分类和名称以及说明</h3>
		  </div>
		  <div class="modal-body">
		  	<label>分类：</label>
		   	<input type="text" >
		   	<label>名称：</label>
		   	<input type="text" >
		   	<label>说明：</label>
		   	<input type="text">
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
		    <button class="btn btn-primary" id="additem">完成</button>
		  </div>
		</div>
	</div>

</div>

{% endblock %} 
	
{% block js%}
<script>
	$(document).ready(function(){
		var searchurl = '';
		function queryReply(data, status){
			var that = $("#query");
			if (Object.keys(data).length > 0) {
				var replace_html = '<table class="table">';
				for (key in data) {
					if (data[key]['flag'] == 'true') {
						var button_icon = '<button class="btn btn-mini btn-link" id="plusurl"><i class="icon-ok-sign"></i></button>';
					}
					else {
						var button_icon = '<button class="btn btn-mini btn-link plusurl"><i class="icon-plus"></i></button>';
					}
					var table_row = '<tr><td><a href="' + data[key]['link'] + '" target="_blank">'+ data[key]['name'] + '</a></td><td>' + data[key]['tip'] + '</td><td>' + button_icon + '</td><tr>';
						
					replace_html = replace_html + table_row;
				}
				replace_html += '</table>';
			}
			else
				var replace_html = '未搜索到记录，请更换关键词再次搜索，谢谢。';
			that.html(replace_html);
			$(".plusurl").click(function(){
				var addable = $(this).parent().find("i").attr("class");
				if (addable != 'icon-ok-sign') {
					searchurl = $(this).parent().parent().find("a").attr("href");
					$('#myModal').modal('show');
				}
			});
		}
		
		$("#search-input").keypress(function(e){
			if (e.which == 13) {
				$(this).blur();
				$("#search-button").click();
				return false;
			}
		});
		
		$("#search-button").click(function(){
			var queryData = {};
			queryData['query'] = $("#search-input").val();
			if (queryData['query'])
				$.ajax({
					url: "/ajaxSearch/",
					type: "POST",
					data: queryData,
					success: queryReply
				});
		});
		
		$("#additem").click(function(){		
			var additem = {};
			additem['container'] = $(".modal-body input:first").val();
			additem['name'] = $(".modal-body input:eq(1)").val();
			additem['tip'] = $(".modal-body input:last").val();
			additem['link'] = searchurl;

			$('#myModal').modal('hide');
 			$.ajax({
				url: "/ajaxAddUrl/",
				type: "POST",
				data: additem,
				success: function(){
					$("#plusurl").parent().find("i").attr("class", "icon-ok-sign");
				}
			});
		});		
	})
</script>
{% endblock %}
